.inputField{
	background-color: #c2c3ff;
}
.deleteBtn{
	width: 25px;
	height: 25px;
	border="0";
}
.form{
	font-size:20px;
	color: #455769;
	padding: 5px;
	padding-bottom: 10px;
	padding-left:40px;
	padding-top: 30px;
}

